//** Global styles for the 4 page buttons

// Hero main section circular button (inner navigation link):
.hero-button {
  //include mixin to define circular buttons with common styles
  @include circularButton();
  // include mixin to center the image both horizontally and vertically with flex
  @include flexCentered();
  // animation related styles
  margin-bottom: 53px;
  animation-name: updown;
  animation-duration: 2s;
  animation-iteration-count: 4;
  animation-timing-function: ease;

  // Downwards arrow iamge:
  &__image {
    object-fit: contain;
  }

  @media all and (min-width: 768px) {
    margin-bottom: 45px;
  }

  @media all and (min-width: 1200px) {
    margin-bottom: 13px;
  }
}

// Tips main section button:
.tips-button {
  //include mixin to define rectangular rounded corner buttons with common styles:
  @include rectangularButton();
  margin-bottom: 45px;
  width: 76px;
  border: solid 2px $color-brand-cta;
  color: $color-brand-cta;
  background-color: $color-light;
  //transition styles related to hover effect
  transition: background-color ease-out 0.3s, color ease 0.3s;

  // Hover effect for better UX:
  &:hover {
    color: $color-light;
    background-color: $color-brand-cta;
  }

  // Focus effect with high contrast to improve accessibility:
  &:focus  {
    color: $color-light;
    background-color: $color-brand-cta;
    /* removes default browser outline and add box-shadow to maintain rounded corners, since we cannot do that with the border property */
    outline: none;
    box-shadow: 0 0 0 3px $color-dark;
  }


  @media all and (min-width: 768px) {
    margin-bottom: 60px;
    width: 91px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
  }
}

// Reasons main section button:
.reasons-button {
  //include mixin to define rectangular rounded corner buttons with common styles:
  @include rectangularButton();
  width: 184px;
  background-color: $color-brand-cta;
  border: 2px solid $color-brand-cta;
  color: $color-light;
  //transition styles related to hover effect
  transition: background-color ease-out 0.3s, color ease 0.3s,
    border ease-out 0.3s;

  // Hover effect to improve UX:
  &:hover {
    color: $color-brand-cta;
    background-color: $color-light;
    border: 2px solid $color-brand-cta;
  }

  // Focus effect with high contrast to improve accessibility:
  &:focus  {
    color: $color-brand-cta;
    background-color: $color-light;
    /* removes default browser outline and add box-shadow to maintain rounded corners, since we cannot do that with the border property */
    outline: none;
    box-shadow: 0 0 0 3px $color-dark;
    border: none;
  }

  @media all and (min-width: 768px) {
    width: 210px;
  }

  @media all and (min-width: 1200px) {
    width: 255px;
  }
}

// Footer circular button (inner navigation link):
.footer-button {
  //include mixin to define circular buttons with common styles:
  @include circularButton();
  //include mixin to center the image both horizontally and vertically with flex
  @include flexCentered();
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  /* change position property to get the item out of the natural flow + add relative position to the footer block class to define a new coordinate system */
  position: absolute;
  //move it upwards equally to half of the button's height
  top: calc(-45px / 2);
  //move it to the right equally to half of the container's width minus half of the button's width
  left: calc(50% - (45px / 2));
  //animation related styles
  animation-name: breath;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 1s;

  // Upwards arrow image:
  &__image {
    width: 20.6px;
    height: 24px;
    object-fit: contain;
  }
}

//** Button animations (inner navegation links)

// Hero animation:
@keyframes updown {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

// Footer animation:
@keyframes breath {
  from {
    transform: scale(1);
    border: 1px solid $color-light;
  }
  70% {
    border: 1px solid #304268;
  }
  to {
    transform: scale(1.2);
    border: 1px solid #304268;
  }
}
