<footer class="footer">
  <a href="#" title="Go back to the top of the page">
    <img
      src="./assets/images/ico-arrow.svg"
      alt="Flecha naranja señalando hacia arriba"
    />
  </a>
  <nav>
    <ul>
      <li>
        <a
          href="https://adalab.es/"
          title="Go to articles page"
          target="_blank"
          >Articles</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Go to books page"
          target="_blank"
          >Books</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Go to events page"
          target="_blank"
          >Events</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Go to reasons page"
          target="_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Go to tips page" target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a
          href="https://adalab.es/"
          title="Visit our Twitter"
          target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Visit our Instagram"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Visit our Mastodon"
          target="_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <div>
    <!-- copyright -->
    <p><small>&#64;2017</small></p>
    <!-- claim -->
    <p><small>we ❤︎ components</small></p>
  </div>
</footer>