<section class="reasons" id="reasons">
  <h2>3 Reasons To Purchase</h2>
  <div class="grid-container">
    <article class="reasons__article">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="reasons__article">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="reasons__article">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
  </div>
  <button type="button">More reasons</button>
</section>
