<section class="tips">
  <div class="wrapper">
    <!-- do we need an article here? meh just 1 element-->
    <p class="tips__tag">Insomnia Tips</p>
    <h2 class="tips__title">Looking Through A Window</h2>
    <p class="tips__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
      at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button type="button" class="tips__button" title="I want to know more">Go</button>
  </div>
</section>