<section class="reasons" id="reasons">
  <!-- remove wrapper -->
  <div class="reasons-wrapper"> 
    <h2 class="reasons__title">3 Reasons To Purchase</h2>
    <div class="grid-container">
      <include
        src="main-article.html"
        title="Ut sed metus"
        text="Lorem ipsum dolor sit amet, consecteur."
      ></include>
      <include
        src="main-article.html"
        title="Curabitur ac erat"
        text="Mauris mattis urna quis lorem molestie."
      ></include>
      <include
        src="main-article.html"
        title="Morbi dictum"
        text="Aliquam in dolor et dolor tincidunt."
      ></include>
    </div>
    <button type="button" class="reasons__button" title="Give me more reasons">More reasons</button>
  </div>
</section>
