//** Mixins declarations

// To center items both horizontally and vertically with flex:
@mixin flexCentered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Circular buttons with common styles:
@mixin circularButton() {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-light;
}

// Rectangular buttons with common styles:
@mixin rectangularButton() {
  height: 45px;
  border-radius: 22.5px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.25;
}
