//** Variables declarations

// Fonts

$font-main:'Roboto', sans-serif;
$font-title: 'Roboto Slab', serif;

// Colors

$color-brand-midtone: #0271bc;
$color-brand-dark: #304268;
$color-brand-light: #8ccbea;
$color-brand-extra-light: #eff9ff;
$color-brand-cta: #f26002;

$color-light: #ffffff;
$color-dark: #000000;

$color-text-light: #4a4a4a;

