//** Global styles for the header

// Hamburger menu container and inner elements block:
.header-menu {
  // fixed menu at the top left corner of the viewport
  position: fixed; 
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  //mixin to center the image both horizontally and vertically with flex
  @include flexCentered();
  background-color: $color-brand-midtone;

  // Menu link to Adalab homepage:
  &__link {
    //bigger clickable space for better UX
    padding: 10px; 
    //centers the img horizontally within its container
    margin: 0 auto;
  }

  // 3 horizontal lines image:
  &__image {
    //adjusting the img to fit its container
    width: 100%; 
    display: block;
  }
}
