.header-menu {
  position: fixed;  // fixed menu at the top left corner
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  display: flex; //to center the img vertically
  align-items: center;
  background-color: $color-brand-midtone;

  &__link {
    padding: 10px; //bigger clickable space for better UX
    margin: 0 auto; //centers the img horizontally
  }

  &__image {
    width: 100%; //adjusting the img to its container
    display: block;
  }
}

