.reasons {
  background-color: orange;
}

.grid-container {
  background-color: lightseagreen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 45px;
}

/* need to center the elements with grid as well */

.reasons__article {
  width: 60%;
  border: 1px solid blue;
}

@media all and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    /* maybe we don't need to use the gap cause of centering */
  }

  .reasons__article {
    width: auto;
    border: 1px solid blue;
  }
}
