.tips {
  background-color: $color-light;
}

.tips__tag {
  color: $color-brand-light;
  font-size: 0.875rem;
  line-height: 2.14;
  padding-top: 30px; //not margin in case the background-color changes

  @media all and (min-width: 1200px) {
    font-size: 1rem;
    padding-top: 60px;
  }
}

.tips__title {
  font-family: $font-title;
  font-size: 1.5rem;
  line-height: 1.25;
  color: $color-dark;
  font-weight: bold;
  margin-bottom: 15px;

  @media all and (min-width: 768px) {
    font-size:  1.625rem;
    line-height: 1.73;
  }

  @media all and (min-width: 1200px) {
    font-size: 2rem;
    line-height: 1.41;
  }
}

.tips__text {
  font-size: 1.125rem;
  color: $color-text-light;
  line-height: 1.67;
  margin-bottom: 30px;

  @media all and (min-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.tips__button {
  margin-bottom: 45px;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $color-brand-cta;
  color: $color-brand-cta;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 2.25;
  font-weight: 500;
  background-color: $color-light;
  transition: background-color ease-out 0.3s, color ease 0.3s, transform ease 0.3s;

  @media all and (min-width: 768px) {
    margin-bottom: 60px;
    width: 91px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
  }
}

.tips__button:hover {
  color: $color-light;
  background-color: $color-brand-cta;
  transform: translate(10px);
}