//** Global styles for the hero section

// Hero block:
.hero {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 25%, $color-dark), url(../images/cover.jpg);
  /* creates more contrast in order to improve the visibility of the page title and subtitle: linear gradient from top to bottom, starting with a gray color and turning black at the 25% end of the img height */
  //increases the gradient effect
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // Hero wrapper:
  &__wrapper {
    margin: 0 15px;
    height: 100vh;
    // flex display to center the title and text horizontally and push it to the bottom of the hero
    display: flex; 
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
  
    @media all and (min-width: 768px) {
      margin: 0 39px;
    }
  
    @media all and (min-width: 1200px) {
      margin: 0 auto;
    }
  }
  
  // Page title:
  &__title {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 2.625rem;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    line-height: 1.31;
    color: $color-light;
    margin-bottom: 10px;

    @media all and (min-width: 768px) {
      font-size: 5rem;
      margin-bottom: 20px;
    }
  
    @media all and (min-width: 1200px) {
      font-size: 6.25rem;
    }

    // Title modifier (break line)
    &--inner {
      //creates a break line
      display: block; 
      text-align: center;
    }
  }

  // Page subtitle
  &__subtitle {
    font-size: 1rem;
    color: $color-light;
    margin-bottom: 45px;
  
    @media all and (min-width: 768px) {
      font-size:  1.5rem;
      margin-bottom: 30px;
    }
  }
}

