.reasons {
  background-color: $color-brand-extra-light;
  //repeats padding in sections: template? in wrapper?
  padding: 30px 0 45px 0;
  text-align: center;
}

.reasons-wrapper {
  margin: 0 15px;

  @media all and (min-width: 768px) {
    margin: 0 40px;
  }

  @media all and (min-width: 1200px) {
    margin: 0 85px;
  }
}

.reasons__title {
  margin-bottom: 45px;
  font-family: $font-title;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
  color: $color-dark; //can define it elsewhere

  @media all and (min-width: 768px) {
    font-size: 1.625rem;
    line-height: 1.73;
  }

  @media all and (min-width: 1200px) {
    font-size: 2rem;
    line-height: 1.41;
  }
}

.grid-container {
  margin: 0 55px 45px 55px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 45px;

  @media all and (min-width: 768px) {
    margin: 0 0 60px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 27.7px;
  }
}

.reasons__button {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-brand-cta;
  // border: none;
  border: 2px solid $color-brand-cta;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.25;
  color: $color-light;
  transition: background-color ease-out 0.3s, color ease 0.3s, border ease-out 0.3s;

  @media all and (min-width: 768px) {
    width: 210px;
  }

  @media all and (min-width: 1200px) {
    width: 255px;
  }
}

.reasons__button:hover {
  color: $color-brand-cta;
  background-color: $color-light;
  // background-color: lighten($color-brand-cta, 30%);
  border: 2px solid $color-brand-cta;
}

