@import "core/variables";
@import 'core/reset';
// @import "layout/page";
@import "layout/header";
@import "layout/main";
@import "layout/main-hero";
@import "layout/main-tips";
@import "layout/main-reasons";
@import "layout/main-article";
@import "layout/footer";
@import "pages/index";

/*************** general styles ****************/

body {
  background-color: rgb(222, 227, 230);
  font-family:'Roboto', sans-serif;
}

// TO CHECK

button {
  width: 100px;
  //random width to resolve flex problem: change it later
}
